<html>
    <head>
       <title>Registration Form</title>
       <style>
           .flashes {
               color: blue; 
           }
        </style>
    </head>
    <body>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class=flashes>
            {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
        <form action='/results' method='post'>
            Email:<input type="text" name="email">
            <button type="submit" name='Button'>Button</button>
        </form>